{% extends 'base.html.twig' %}

{% block title %}Home!
{% endblock %}

{% block body %}
	<div class="container">

		<h4>
			<a href="/">Importing CSV</a>

		</h4>


		<hr>
		<p>All invoices in file
			{{ file.getFileName }}</p>


		{% if items|length >0 %}
			<hr>
			<div class="row">
				<div class="col">
					<table class="table">
						<thead>
							<tr>
								<th>Invoice #</th>
								<th>Amount</th>
								<th>Due Date</th>
								<th>Selling Price</th>
							</tr>
						</thead>


						<tbody>

							{% for item in items %}
								<tr>
									<td>{{ item.getInvoiceId }}</td>
									<td>{{ item.getAmount }}</td>
									<td>{{ item.getDueDate.format("Y-m-d") }}</td>
									<td>{{ item.getSellingPrice }}</td>

								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
